<!DOCTYPE html>
<html>
<head>
  <% include ../../layouts/header %>
  <!-- DataTables -->
  <link rel="stylesheet" href="../../plugins/datatables/dataTables.bootstrap.css">
	<!-- Add fancyBox CSS -->
	<link rel="stylesheet" type="text/css" href="../../plugins/fancyBox/source/jquery.fancybox.css?v=2.1.5" media="screen" />

</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <% include ../../layouts/main-header %>

  <% include ../../layouts/main-sidebar %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
      <section class="content-header">
          <h1>
              修改密碼
              <small></small>
          </h1>
          <ol class="breadcrumb">
              <li><a href="#"><i class="fa fa-dashboard"></i> 首頁</a></li>
              <li><a href="#">系統管理</a></li>
              <li class="active">修改密碼</li>
          </ol>
      </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">

          <div class="box">

              <div class="box-header with-border">
                  <div class="col-xs-7 col-sm-8 col-md-9 col-lg-10">
                      <h3 class="box-title">請編輯相關資料</h3>
                  </div>
                  <div class="col-xs-5 col-sm-4 col-md-3 col-lg-2">
                      <div class="pull-right">
                          <!--<button id="account_submit" type="submit" class="btn btn-success">存檔</button>-->
                      </div>
                  </div>
              </div>

            <!-- /.box-header -->
              <form id="account_form" role="form" action="/resetpassword/reset" method="post">
                <div class="box-body">
                    <div class="form-group">
                        <label for="account_password">舊密碼</label>
                        <input type="password" class="form-control" id="account_password_old" name="password_old" placeholder="請輸入舊密碼">
                    </div>
                    <div class="form-group">
                        <label for="account_password">新密碼</label>
                        <input type="password" class="form-control" id="account_password" name="password" placeholder="請輸入新密碼">
                    </div>
                    <div class="form-group">
                        <label for="account_password2">確認新密碼</label>
                        <input type="password" class="form-control" id="account_password2" name="password2" placeholder="請再次輸入新密碼">
                    </div>
                </div>


                  <div class="box-footer">
                      <button id="account_submit" type="submit" class="btn btn-success">存檔</button>
                      <a href="/resetpassword" class="btn btn-danger">取消</a>
                  </div>
              </form>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <% include ../../layouts/Modal-del %>
  
  <% include ../../layouts/main-footer %>

  <% include ../../layouts/control-sidebar %>
  
</div>
<!-- ./wrapper -->

  <% include ../../layouts/footer-JS %>
    <!-- DataTables -->
    <script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="../../plugins/datatables/dataTables.bootstrap.min.js"></script>
    <!-- Add mousewheel plugin (this is optional) -->
    <script type="text/javascript" src="../../plugins/fancyBox/lib/jquery.mousewheel.pack.js?v=3.1.3"></script>
    <!-- Add fancyBox main JS -->
    <script type="text/javascript" src="../../plugins/fancyBox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
    <!-- MyDataTable-->
    <script src="../../dist/js/myDataTable.js"></script>
    <!-- myValidate-->
    <script src="../../dist/js/myValidate.js"></script>
    <!-- Common Func-->
    <script src="../../dist/js/livestream_common.js"></script>
    <!-- page script -->



<script>


    $(function () {

        //送出
        $('#account_submit').on('click', function () {
            $("#account_form").submit();
        });

        //validate
        $("#account_form").myValidate({
            rules: {
                password_old: {
                    required: true
                },
                password: {
                    required: true,
                    minlength: 5
                },
                password2: {
                    required: true,
                    minlength: 5,
                    equalTo: "#account_password"
                }
            },
            messages: {
                password2: {
                    equalTo: "兩次密碼不相同！"
                }
            },

        }, function () {

            var ajaxOptions = {type: 'POST',url: '/resetpassword/reset'};

            //組送出的物件
            var submitData = {
                form:$("#account_form").serializeObject()
            }
            var errorMSG = '更新失敗，請稍後再試。';

            commonFunc.ajaxDataSubmit(submitData,ajaxOptions,errorMSG,function(result){
                if(result.error==0){
                    commonFunc.showMsgDialogDoThing('存檔成功，請重新登入！',function(){
                        location.href = '/login';
                    });
                }
            })
        });
    });

</script>

</body>
</html>
