<!DOCTYPE html>
<html>
<head>
  <% include ../../layouts/header %>
  <!-- DataTables -->
  <link rel="stylesheet" href="../../plugins/datatables/dataTables.bootstrap.css">
	<!-- Add fancyBox CSS -->
	<link rel="stylesheet" type="text/css" href="../../plugins/fancyBox/source/jquery.fancybox.css?v=2.1.5" media="screen" />

</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <% include ../../layouts/main-header %>

  <% include ../../layouts/main-sidebar %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        專案管理
        <small>資料列表</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 首頁</a></li>
        <li><a href="#">特殊專案</a></li>
        <li class="active">專案評分</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">

          <div class="box">
            <div class="box-header">
              <h3 class="box-title">專案列表</h3>
            </div>
            <div class="row">
              <div class="col-xs-6">
                  <div class="col-xs-6">
                      <select id="selectYear" class="form-control">
                          <option value=''>--- 請選擇 ---</option>
                          <%
                              var min = 2017;
                            var max = new Date().getFullYear();
                            for (var i = min; i<=max; i++){
                               %>
                              <option value='<%=i%>'><%=i%></option>
                              <%
                            }
                          %>
                      </select>
                  </div>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="projects_datatable" class="table table-bordered table-striped table-hover" width="100%" >
                  <thead>
                      <tr>
                          <th>專案名稱</th>
                          <th>立案日期</th>
                          <th>結案日期</th>
                          <th>操作</th>
                      </tr>
                  </thead>
                  <tfoot>
                      <tr>
                          <th>專案名稱</th>
                          <th>立案日期</th>
                          <th>結案日期</th>
                          <th>操作</th>
                      </tr>
                  </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

            <div class="box" id="score_box" style="display:none;">
                <div class="box-header">
                    <h2 class="box-title"><font size="18"></font></h2>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="col-xs-6">
                            <h3 class="box-title">成員一覽</h3>
                        </div>
                        <div class="col-xs-2">
                        </div>
                    </div>
                </div>
                <!--<div class="row">-->
                    <!--<div class="col-xs-8">-->
                        <!--<div class="col-xs-6">-->
                            <!--&lt;!&ndash;<button id="score_save" type="submit" class="btn btn-success">存檔</button>&ndash;&gt;-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="score_datatable" class="table table-bordered table-striped table-hover" width="100%" >
                        <thead>
                        <tr>
                            <th>姓名</th>
                            <th>評分(+3 ~ -3分)</th>
                        </tr>
                        </thead>
                    </table>
                </div>

                <div class="box-footer">
                    <button id="score_save" type="submit" class="btn btn-success">存檔</button>
                </div>
            </div>


        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <% include ../../layouts/Modal-del %>
  
  <% include ../../layouts/main-footer %>

  <% include ../../layouts/control-sidebar %>
  
</div>
<!-- ./wrapper -->

  <% include ../../layouts/footer-JS %>
    <!-- DataTables -->
    <script src="../../plugins/datatables/jquery.dataTables.js"></script>
    <script src="../../plugins/datatables/dataTables.bootstrap.min.js"></script>
    <!-- Add mousewheel plugin (this is optional) -->
    <script type="text/javascript" src="../../plugins/fancyBox/lib/jquery.mousewheel.pack.js?v=3.1.3"></script>
    <!-- Add fancyBox main JS -->
    <script type="text/javascript" src="../../plugins/fancyBox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
    <!-- MyDataTable-->
    <script src="../../dist/js/myDataTable.js"></script>
    <!-- Common Func-->
    <script src="../../dist/js/livestream_common.js"></script>
    <!-- page script -->
    <script>

        var SelectOptions = [{"label":"--- 請選擇 ---","value":""},
            {"label":"-3","value":-3},
            {"label":"-2","value":-2},
            {"label":"-1","value":-1},
            {"label":"0","value":0},
            {"label":"1","value":1},
            {"label":"2","value":2},
            {"label":"3","value":3}];

        function fillProjectTable (year) {

            var optionProject = {
              "ajax": '/projectmanagement/list/'+ year,
              "pageLength": 5,
              "lengthMenu": [ 5, 10, 25, 50, 100 ],
              "columns": [
                  { "data": "name" },
                  { "data": "startDate" },
                  { "data": "endDate" },
                  { "data": null }
              ],
              "operationCol":{
                "show":true,
                "editUrl":'/projectmanagement/edit/',
                "delUrl":'/projectmanagement/del/'
              },
              "imgCol":{
                "show":false
              },
                "columnDefs": [
                    {
                        "targets": -1,
                        "data": 'status',
                        "render": function (data, type,full, row) {
                            var html = "";
                                html = "<div class='row'><div class='col-xs-12'>";
                                html = "<a onclick='fillScoreTable(\""+full._id+"\",\""+full.name+"\")' class='btn btn-warning' style='margin:0 5px;'>評分</a>";
                                html += "</div></div>";
                            return html;
                        }
                    }
                ]
            }

            $('#projects_datatable').DataTable().destroy();

            $('#projects_datatable').myDataTable(optionProject);

        }

        var dataId;

        function fillScoreTable(id,teamName) {
            dataId = id;

            $('#score_box').show();

            $('h2 font').empty().append(teamName);

            var optionScore = {
                "ajax": '/projectscore/'+id,
                "columns": [
                    { "data": "userName" },
                    { "data": "score" }
                ],
                "operationCol":{
                    "show":false,
                    "editUrl":'/projectscore/edit/',
                    "delUrl":'/projectscore/del/'
                },
                "imgCol":{
                    "show":false
                },
                "searching": false,
                "ordering": false,
                "lengthChange": false,
                "info": false,
                "paging": false,
                "columnDefs": [
                    {
                        "targets": -1,
                        "data": 'score',
                        "render": function (data, type, full, meta) {
                            var $select = $("<select id='"+meta.row+"' class='form-control cell-select'></select>", {
                            });
                            $.each(SelectOptions, function (v, v) {

                                var $option = $("<option></option>", {
                                    "text": v.label,
                                    "value": v.value
                                });
                                if (data === v.value) {
                                    $option.attr("selected", "selected")
                                }
                                $select.append($option);
                            });
                            return $select.prop("outerHTML");
                        }
                    }
                ]
            };


            $('#score_datatable').DataTable().destroy();

            $('#score_datatable').myDataTable(optionScore);

        }

        $(function () {
            var year = new Date().getFullYear();
            $('#selectYear').val(year);
            fillProjectTable(year);
        });

        $('#selectYear').change(function() {
            fillProjectTable(this.value);
        });

        //存檔
        $('#score_save').on('click',function(){
            commonFunc.showWarningMsgDialogDoThing('確認存檔嗎？',function(){
                var ajaxOptions = {type: 'PUT',url: '/projectscore/givescore/' + dataId,contentType:'application/json'}

                var tables = $('#score_datatable').DataTable();

                //重新計算tableDate
                tableData = [];
                tables.data().each(function(d){
                    tableData.push(d);
                });

                $.each(tables.rows()[0],function(index,value){
                    tableData[index].score = $('#'+index+' option:selected').val();
                })

                //組送出的物件
                var submitData = {
                    score:tableData
                }

                var errorMSG = '存檔失敗，請稍後再試。';

                commonFunc.ajaxDataSubmit(JSON.stringify(submitData),ajaxOptions,errorMSG,function(result){
                    commonFunc.showMsgDialogDoThing('存檔成功！',function(){
                        location.href = '/projectscore';
                    });
                })
            });
            return false;
        });


    </script>    
</body>
</html>
